.project-create-page {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

.project-create-content {
    z-index: 10;
    width: 80%;
    background: #ffff;
    margin: 0 auto;
}

.post-new-project{
    margin : 0 auto;
}

.fields-error{
    margin : 2%;
    color : red; 
}

.error-fields{
    border: 2px solid #ff45006e;
}