.project-content{
    margin : 20px;
}

.project-content-header {
    display : block;
}
.project-content-header-items{
    display : inline-block;
}

.disabled-link{
    pointer-events: none;
    color : red;
}

.post-new-project {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width : 50%;
}